/*

*{
    box-sizing: border-box;
}
*/

:root{
    /* color variables*/
    --clr-primary: #9f9b74;
    --clr-primary-hover: #9f9b74;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd9dc;
    --clr-elegantGreen: #004236;
    --clr-elegantPurple: #57527e;
    --clr-topLogoBackground: #898f98;
}


body {
    padding:0 !important;
    margin:0 !important;
    /*min-width:800px !important;*/
  }


#SUPER_MASTER_GRID_CONTAINER_FULL_SCREEN_BODY{
    margin: 0 auto;
    background-color: antiquewhite;
    outline: 1px solid #000;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100vh; /* you need to add this PARENT REFERENCE before using  grid-template-row */
    grid-template-rows: 5%  5% 35% 25% 25% 5%;  
    grid-template-areas:
    "MASTER_GRID_nav MASTER_GRID_nav MASTER_GRID_nav"
    "MASTER_GRID_nav MASTER_GRID_nav MASTER_GRID_nav"
    "MASTER_GRID_sidebarRight MASTER_GRID_contentMiddle MASTER_GRID_sidebarLeft"
    "MASTER_GRID_sidebarRight MASTER_GRID_contentMiddle MASTER_GRID_sidebarLeft"
    "MASTER_GRID_sidebarRight MASTER_GRID_contentMiddle MASTER_GRID_sidebarLeft"
    "MASTER_GRID_footer MASTER_GRID_footer MASTER_GRID_footer"
    ;
    /*GRID TUTORIAL https://www.youtube.com/watch?v=68O6eOGAGqA*/
}



#MASTER_GRID_nav {
    background-color: #58bc39;
    grid-area:  MASTER_GRID_nav;

}

#MASTER_GRID_contentMiddle {
    background-color: #3978bc;
    grid-area: MASTER_GRID_contentMiddle;
}

#MASTER_GRID_sidebarRight{
    background-color: #b339bc;
    grid-area:MASTER_GRID_sidebarRight;
}

#MASTER_GRID_sidebarLeft{
    background-color: #f1ed03;
    grid-area:MASTER_GRID_sidebarLeft;
}

#contentMIddleMaster{
    background-color: #1e00ff;
    grid-area:contentMIddleMaster;
}

#MASTER_GRID_footer{
    background-color: var(--clr-elegantGreen);
    grid-area: MASTER_GRID_footer;
}

/* MAKE IT RESPONSIVE */
@media only screen and (max-width: 670px) {
    #SUPER_MASTER_GRID_CONTAINER_FULL_SCREEN_BODY{
        margin: 0 auto;
        background-color: antiquewhite;
        max-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh; /* you need to add this PARENT REFERENCE before using  grid-template-row */
        grid-template-rows: 5%  5% 35% 25% 25% 5%;  
        grid-template-areas:
        "MASTER_GRID_nav"
        "MASTER_GRID_nav"
        "MASTER_GRID_contentMiddle"
        "MASTER_GRID_sidebarRight"
        "MASTER_GRID_sidebarLeft"
        "MASTER_GRID_footer"
        ;
        /*GRID TUTORIAL https://www.youtube.com/watch?v=68O6eOGAGqA*/
    }
}