body {
    background-color: #FFFAF2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
    padding-bottom: 0.05em;
    min-height: 100vh;

  }



header {
    background-color: #A8967E;   
  }

 /* --------header title-------------------------------------------------------*/
  
#headerDiv{
    background-color: #A8967E;
    color: white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
  }

#headerDiv a:link { color: white; }
#headerDiv a:visited { color: white; }
#headerDiv a:hover { color: #B8DEF5; }
#headerDiv a:active { color: white; }

 /* ---------------------------------------------------------------*/

footer {
  background-color: #A8967E;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer a:link { color: white; }
#footer a:visited { color: white; }
#footer a:hover { color: #B8DEF5; }
#footer a:active { color: white; }


#footerDiv{
  background-color: #A8967E;
  color: white;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
}

#footerDiv a:link { color: white; }
#footerDiv a:visited { color: white; }
#footerDiv a:hover { color: #B8DEF5; }
#footerDiv a:active { color: white; }


 /* ---------------------------------------------------------------*/


  h2 {
    color:  #006DAD;

  }
  a {
    color:    #006DAD;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color:     #A8967E;
  }




  /* ---------------------------------------------------------------*/
   /* cellphone style*/

  .button1 {
    background-color: #006DAD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    display: block !important;
border-radius: 50em !important;
  }

  .button1:hover {
    text-decoration: none;
    background-color:     #B8DEF5;
    color: #006DAD;
  }




/* --Homepage main part-------------------------------------------------------------*/
#homepageMain {

border: 5px solid #A8967E;
text-align: center;

padding-top: 50px;
padding-bottom: 50px;
padding-right: 10px;
padding-left: 10px;

margin-bottom: 50px;
margin-left: 20px;
margin-right: 20px;

}
 /* ----DIV ARTICLES MAIN BOX-----------------------------------------------------------*/

#DivArticlesMainBox{
margin-bottom: 20px;
margin-left: 40px;
margin-right: 40px;
background-color: #F5E5D0;
}

main{
  margin-bottom: 50px;


  /*
  complementary colors
#A8967E
#FFFAF2
#F5E5D0
#006DAD
#B8DEF5
 
https://color.adobe.com/create/color-wheel
  */

}

 /* ---------------------------------------------------------------*/


 #ArticleMainTitleDiv{
  border: 5px solid #A8967E;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  background-color: #A8967E;
  font-weight: bold;
  font-size: 20px;
}


  #textBox {

border: 5px solid #A8967E;

padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
margin-bottom: 10px;
margin-right: 50px;


  }



#textBox2 {
    border: 5px solid #A8967E;
    margin-bottom: 10px;
    padding-top: 0px;
      }

#textBox2TopBar { 
  color: white;
  background-color: #A8967E;
  font-weight: bold;
  font-size: 20px;
 }

 #textBox2Text { 
padding-top: 10px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 10px;
background-color:#F5E5D0;
 }

  /* ---------------------------------------------------------------*/
table, th, td {
  border:2px solid #A8967E;
  border-collapse: collapse;
  word-break: break-word;
  
}


  /* ---------------------------------------------------------------*/

  /*
  complementary colors
#A8967E
#FFFAF2
#F5E5D0
#006DAD
#B8DEF5
 
https://color.adobe.com/create/color-wheel
  */
